.container {
    display: flex;
    justify-content: center;
}

.filterContainer {
    display: flex;
    justify-content: left;
    width: 95%;
}
.filter {
    padding: 1rem;
    text-align: center;
}
.filterForm {
    display: flex;
    gap: 2rem;
}
.filterInput {
    padding: 0;
}

.tableContainer {
    height: 95% !important;
    width: auto !important;
    padding: 1%;
    text-align: center;
    border-radius: 35px !important;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: white !important;
    border-color: aliceblue !important;
}
.styledTable {
    background-color: white;
    border-collapse: collapse;
    height: 95% !important;
}
.styledTable thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}
